#footer {
  background-color: black;
  padding: 50px 16px 25px;

  .h2h2h2, p {
    color: white;

  }

  .h2h2h2 {
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    padding-left: 0;
  }

  .p {
    font-weight: 500;
    line-height: 20px;
    color: #c5c5c5;
    margin-top: 20px;
    display: block;
  }

  img {
    width: 200px;
    object-fit: cover;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 20px;

    &::placeholder {
      color: white;
    }
  }

  .finish {
    color: #c5c5c5;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-top: 50px;

    span {
      font-weight: 700;
      color: #7A6EB6;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}